@charset "UTF-8";

.evcararea {
  margin:0 auto;
  border: 1px solid;
  clear: both;
  margin-top: 10px;
}
#contents {
	width: 1200px;
}
.subsidy-info{
	text-align: right;
	padding-right: 50px;
	padding-bottom: 30px
}
.select-area{
	padding-left: 50px;
}
table td{
	text-align: center;
}
